@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-cream-50 {
    background-color: #FFFAF0;
  }
  
  @media (max-width: 768px) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }


