@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
    background-image: url('/assets/patte.png');
    background-size: cover;
    background-position: center;
    
  }

  
  
  .titre{
    font-size: 3rem;
    color: #fdfdfd;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-decoration-color: #fdfdfd;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.2;
    padding: 20px;
    border-radius: 10px;


  }
  .container {
    margin-top : 450px;
  }